@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --font-nunito: 'Nunito Sans', sans-serif;
}

:root {
  --radius: 0.625rem;
  --background: hsl(0, 0%, 98%);
  --foreground: hsl(200, 15%, 8%);
  --card: hsl(0, 0%, 100%);
  --card-foreground: hsl(200, 15%, 8%);
  --popover: hsl(0, 0%, 100%);
  --popover-foreground: hsl(200, 15%, 8%);
  --primary: hsl(209, 23%, 22%);
  --primary-foreground: hsl(0, 0%, 100%);
  --secondary: hsl(0, 0%, 100%);
  --secondary-foreground: hsl(209, 23%, 22%);
  --muted: hsl(0, 0%, 100%);
  --muted-foreground: hsl(0, 0%, 52%);
  --accent: hsl(0, 0%, 100%);
  --accent-foreground: hsl(209, 23%, 22%);
  --destructive: hsl(0, 100%, 50%);
  --border: hsl(0, 0%, 52%);
  --input: hsl(0, 0%, 52%);
  --ring: hsl(209, 23%, 22%);
}

.dark {
  --background: hsl(207, 26%, 17%);
  --foreground: hsl(0, 0%, 100%);
  --card: hsl(209, 23%, 22%);
  --card-foreground: hsl(0, 0%, 100%);
  --popover: hsl(209, 23%, 22%);
  --popover-foreground: hsl(0, 0%, 100%);
  --primary: hsl(0, 0%, 100%);
  --primary-foreground: hsl(209, 23%, 22%);
  --secondary: hsl(207, 26%, 17%);
  --secondary-foreground: hsl(0, 0%, 100%);
  --muted: hsl(207, 26%, 17%);
  --muted-foreground: hsl(0, 0%, 100%);
  --accent: hsl(207, 26%, 17%);
  --accent-foreground: hsl(0, 0%, 100%);
  --destructive: hsl(0, 100%, 50%);
  --border: hsl(209, 23%, 22%);
  --input: hsl(209, 23%, 22%);
  --ring: hsl(0, 0%, 100%);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground font-nunito;
    font-family: var(--font-nunito);
    font-weight: 300;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 800;
  }
  strong {
    font-weight: 600;
  }
}
